extends index

block metas
   meta(name='description', content='GrassTweets.com connects you to your representatives.')

block afterNav
   div.page-header
      h2 About GrassTweets.com
   div.row-fluid
      div.span12
         p.
            The idea behind GrassTweets.com is pretty simple: connect you,
             the grassroots activist, with your representatives, using the
             magic of Twitter!
         p.
            How does it work? Well that is simple too: you simply log in
             to this site with your Twitter account and go to the Tweet
             page. There you will be able to select the representatives
             that you want to tweet, compose a message, and instantly send
             it out to each of them individually. How cool is that?
   div.row-fluid
      div.span12
         strong
            a(href='/about/tos') Terms of Service
         strong &nbsp;--&nbsp;
         strong
            a(href='http://twitter.com/grsstwts') Follow us on Twitter
   div.row-fluid
      div.span12
         h3 Development
         p This project is being lead by&nbsp
            a(href='http://twitter.com/tomdotjs') Tom Utley
         p You can view the source code and even contribute by&nbsp;
            a(href='https://github.com/tutley/grasstweets') checking out our github repo
            |.

block modals
   //- this is where you can add hidden divs and other elements that you'll want to display
      dynamically on the page. 

block pageScripts
   //- This is where any page specific scripts go   
      Keep in mind that these are included in every page already:
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
      script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js')