extends index

block metas
   meta(name='description', content='GrassTweets: Select Your State')
   link(rel='stylesheet', href='/css/ammap.css', type='text/css')

block afterNav
   h2 Select Your State
   if (message)
      div.row-fluid
         div.alert.alert-error.alert-block
            button.close(type='button', data-dismiss='alert') &times;
            h4 Error!
            p #{message}
   div.row-fluid
      p Select your state from the map below:
   div.row-fluid
      div#mapdiv(style='background-color:#EEEEEE; height: 600px;')
   div.row-fluid
      form(action='/profile/state', method='post', id='stateForm')
         - var currState = ''
         if (user.state)
            - currState = user.state
         input(type='hidden', name='state', value='#{currState}', id='state')

block modals
   div.modal.hide.fade.span2(id='confirmModal')
      div.modal-body
         p(id='modalMessage')
      div.modal-footer
         button.btn(data-dismiss='modal', aria-hidden='true') No
         button.btn.ptn-primary(id='confirmed') Yes

block pageScripts
   script(src='/js/ammap/ammap.js')
   script(src='/js/ammap/usaLow.js')
   script(src='/js/profileState.js')


//- TODO
   1) Change color of map areas
   2) on click, popup a confirm dialog, submit form on yes
   3) auto-select user's current state

