extends index

block metas
   meta(name='description', content='These are the terms of service for GrassTweets.com. Behave people, haha.')
         

block afterNav
   h3 GrassTweets.com Terms of Service
   p GrassTweets.com is an application built on top of Twitter. Therefore, the&nbsp;
      a(href='https://twitter.com/tos') Twitter Terms of Service
      | &nbsp;apply to the tweets you send from this application.
   p In addition, this app is built specifically to put you in contact with your representatives
      | so please act in a manner befitting civil discourse. Users who repeatedly use this 
      | application for SPAM purposes or are abusive will be banned. Thanks!

block modals

block pageScripts
