/**
 * Style.css
 *
 * This file contains customizations to the bootstrap default theme
 * 
 */

body {
   padding-top: 60px;
}

#confirmModal.modal {
   width: 40%;
   left: 30%;
   top: 20%;
   margin: auto auto auto auto;
}

div.thumbnail.repDiv.Republican.well {
   padding: 3px;
   background-color: #faa;
}

div.thumbnail.repDiv.Democrat.well {
   padding: 3px;
   background-color: #aaf;
}

div.thumbnail.repDiv.Other.well {
   padding: 3px;
}

