/**
 * Style.css
 *
 * This file contains customizations to the bootstrap default theme
 * 
 */
@import url(http://fonts.googleapis.com/css?family=Cantarell:400,700);

body {
   padding-top: 60px;
   font-family: 'Cantarell', sans-serif;
}

.navbar .nav>li>a, .navbar .dropdown-menu li>a, .btn, h1, h2, h3, h4, h5, h6 {
   font-family: 'Cantarell', sans-serif;
}

#confirmModal.modal {
   width: 40%;
   left: 30%;
   top: 20%;
   margin: auto auto auto auto;
}

/* This styling is for the main tweet app. These are the buttons that represent the reps to tweet */
button.repBtn.Republican.active {
   background-color: rgba(212, 79, 62, 0.99);
   background-image: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(216, 87, 71, 0.99)), to(rgba(209, 68, 50, 0.99)));
   background-image: -webkit-linear-gradient(rgba(216, 87, 71, 0.99), rgba(209, 68, 50, 0.99));
   background-image: -moz-linear-gradient(rgba(216, 87, 71, 0.99), rgba(209, 68, 50, 0.99));
   background-image: -o-linear-gradient(rgba(216, 87, 71, 0.99), rgba(209, 68, 50, 0.99));
   background-image: linear-gradient(rgba(216, 87, 71, 0.99), rgba(209, 68, 50, 0.99));
   color: #fff;
   margin: 3px;
}

button.repBtn.Republican {
   background-color: rgba(212, 79, 62, 0.70);
   background-image: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(216, 87, 71, 0.70)), to(rgba(209, 68, 50, 0.70)));
   background-image: -webkit-linear-gradient(rgba(216, 87, 71, 0.70), rgba(209, 68, 50, 0.70));
   background-image: -moz-linear-gradient(rgba(216, 87, 71, 0.70), rgba(209, 68, 50, 0.70));
   background-image: -o-linear-gradient(rgba(216, 87, 71, 0.70), rgba(209, 68, 50, 0.70));
   background-image: linear-gradient(rgba(216, 87, 71, 0.70), rgba(209, 68, 50, 0.70));
   color: #ccc;   
   margin: 3px;
}

button.repBtn.Democrat.active {
   background-image: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(0, 107, 190, 0.99)), to(rgba(0, 92, 164, 0.99)));
   background-image: -webkit-linear-gradient(rgba(0, 107, 190, 0.99), rgba(0, 92, 164, 0.99));
   background-image: -moz-linear-gradient(rgba(0, 107, 190, 0.99), rgba(0, 92, 164, 0.99));
   background-image: -o-linear-gradient(rgba(0, 107, 190, 0.99), rgba(0, 92, 164, 0.99));
   background-image: linear-gradient(rgba(0, 107, 190, 0.99), rgba(0, 92, 164, 0.99));
   background-color: rgba(0, 101, 180, 0.99);
   color: #fff;
   margin: 3px;
}

button.repBtn.Democrat {
   background-image: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(0, 107, 190, 0.7)), to(rgba(0, 92, 164, 0.7)));
   background-image: -webkit-linear-gradient(rgba(0, 107, 190, 0.7), rgba(0, 92, 164, 0.7));
   background-image: -moz-linear-gradient(rgba(0, 107, 190, 0.7), rgba(0, 92, 164, 0.7));
   background-image: -o-linear-gradient(rgba(0, 107, 190, 0.7), rgba(0, 92, 164, 0.7));
   background-image: linear-gradient(rgba(0, 107, 190, 0.7), rgba(0, 92, 164, 0.7));
   background-color: rgba(0, 101, 180, 0.7);
   color: #ccc;
   margin: 3px;
}

button.repBtn.Other.active {
   background-image: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(243, 118, 58, 0.99)), to(rgba(242, 101, 34, 0.99)));
   background-image: -webkit-linear-gradient(rgba(243, 118, 58, 0.99), rgba(242, 101, 34, 0.99));
   background-image: -moz-linear-gradient(rgba(243, 118, 58, 0.99), rgba(242, 101, 34, 0.99));
   background-image: -o-linear-gradient(rgba(243, 118, 58, 0.99), rgba(242, 101, 34, 0.99));
   background-image: linear-gradient(rgba(243, 118, 58, 0.99), rgba(242, 101, 34, 0.99));
   background-color: rgba(243, 111, 48, 0.99);
   color: #fff;
   margin: 3px;
}

button.repBtn.Other {
   background-image: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(243, 118, 58, 0.7)), to(rgba(242, 101, 34, 0.7)));
   background-image: -webkit-linear-gradient(rgba(243, 118, 58, 0.7), rgba(242, 101, 34, 0.7));
   background-image: -moz-linear-gradient(rgba(243, 118, 58, 0.7), rgba(242, 101, 34, 0.7));
   background-image: -o-linear-gradient(rgba(243, 118, 58, 0.7), rgba(242, 101, 34, 0.7));
   background-image: linear-gradient(rgba(243, 118, 58, 0.7), rgba(242, 101, 34, 0.7));
   background-color: rgba(243, 111, 48, 0.7);
   color: #ccc;
   margin: 3px;
}

/* This is to allow the site logo to fill up the navbar */
div.navbar .brand {
   padding: 0;
   margin: 0 15px 0 5px;
}

/* This is for the views where reps are listed and filters are available */
button.filters {
   margin: 0px 0 5px 0;
}

tr.confirmed {
   background-color: #beffc7;
}

tr.denied {
   background-color: #ffccc6;
}

a.btn-repLink {
   margin-bottom: 3px;
}

/* This is on the Tweet App page, making the form fit better */
form#tweetForm {
   margin: 0 0 0 5px;
}

/* This opens up the spacing just a little bit on definition lists */
.dl-horizontal dd {
   margin-bottom: 5px;
}

/* Make button forms (forms with all hidden fields) shorter */
form.buttonForm {
   margin: 0px;
}


