/**
 * Style.css
 *
 * This file contains customizations to the bootstrap default theme
 * 
 */

body {
   padding-top: 60px;
}

#confirmModal.modal {
    width: 40%;
    left: 30%;
    top: 20%;
    margin: auto auto auto auto;
}
